<html>
<h1>It works ! </h1>
<p>Your web server is running, but no content has been added yet. <br>
If you're a normal user trying to access this website, it may be in maintenance or experiencing difficulties right now. Try to contact the system administrator to report this error.</p>
<hr>
<p><?php echo '<img src="https://secure.php.net//images/logos/php-power-micro.png">' ?>
 <---- If you can see the php logo, it means that php is working on your server. </p>
<p>Nerd stuff : furnace - nginx - php-fpm</p>